* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2c1235;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
    z-index: 0;
    display: flex;
}



.menu {
    float: right;
}

nav {
    width: 100%;
    background: #441752;
    margin: auto;
    display: flex;
    line-height: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

.logo a img{
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    margin: 10px ;
    margin-left: 20px;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 25px 10px 25px 10px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color:#ff67ae;
    font-weight: bolder;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

a.tbl-biru{
    background: #1a1652;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover{
    background: #ff67ae;
    text-decoration: none;
    text-shadow: whitesmoke;
    color: white;
}

/*belajar*/
.wrapperrrr{
    width: 20px;
    color: #efb2ff;
}

.text{
    margin-left: 100px;
    display: flex;
}


.text h3{
    margin: auto;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 70px;

}

.text p{
    margin-top: 125px;
    margin-left: 400px;
}

.text p a{
    background: #ff67ae;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    margin-top: 100px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}


.text p a:hover{
    background: #a5dfff;
}

.file{
    margin: auto;
    align-content: center;
    margin-left: 100px;
}

/**/

/*footer*/
.footer{
 background-color: #210d2c;   
}

.logo2{
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    padding: 10px 10px 10px 10px;
}

.logo2 p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
    font-size: 20px;
    margin-left: 10px;
}

.deskripsi p{
    margin-left: 60px;
    margin-right: 60px;
    color: whitesmoke;
    font-size: 13px;
}

/*link*/
.link{
    display: flex;
    max-width: 100%;
    margin-left: 100px;
}

/*belajar*/
.lblajar{
    margin-left: 80px;
}

.lblajar p{
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.linkb a{
    color: white;
    font-size: 13px;
}

.linkb a:hover{
    text-decoration: underline;
}

/*latsol*/
.llatsol{
    margin-left: 80px;
}

.llatsol p{
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.linkl a{
    color: white;
    font-size: 13px;
}

.linkl a:hover{
    text-decoration: underline;
}

/*sosmed*/
.lsosmed{
    margin-left: 80px;
}

.lsosmed p{
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.links a{
    color: white;
    font-size: 13px;
}

.links a:hover{
    text-decoration: underline;
}

/*ikon ink*/
.ikonlink{
    color: whitesmoke;
    text-align: center;
    font-size: 11px;
}

.copyright{
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/**/
@media screen and (max-width: 991.98) {
    .wrapper{
        width: 90%;
    }
    .wrapperr{
        width: 90%;
    }
    .wrapperrr{
        width: 90%;
    }
    .wrapperrrr{
        width: 90%;
    }
    .wrapperrrrr{
        width: 90%;
    }
}